/*Peut affecter le fond d'image*/
body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#bloc-fond-image {
    overflow: hidden;
    position: relative;
}

/*Fond d'image, attention à la manipulation*/
#fond-image {
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
}

#contenu-principal {
    position: relative;
}

h1 {
    text-align: center;
    font-size: 5em;
    margin: 45px 0px 0px;
    padding: 40px 0px;
    font-style: italic;
    background-color: rgba(70, 240, 231, 0.5);
    border-bottom: 2px solid rgb(0, 0, 0);
    border-top: 2px solid rgb(0, 0, 0);
}

.contenu-img {
    width: 100%;
    max-width: 920px;
    height: 100%;
    max-height: 480px;
}

figure {
    text-align: center;
}

figure img {
    border-radius: 2em;
    border: 10px solid rgba(33, 33, 33, 1)
}

figcaption {
    font-style: italic;
    font-weight: bold;
    font-size: 125%;
}

p {
    margin: 1.2em 14em;
    font-size: 120%;
    line-height: 170%;
}

.principal-one-bloc {
    background-color: rgb(255, 255, 255, 0.8);
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin: 0em 10em 1em;
    border-radius: 1em;
    border-bottom: 2px solid #000000;
}

.menu-bloc {
    background-color:  rgba(245, 245, 220, 0.9);
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px 0px;
    border-radius: 2em;
    border-left: 5px solid rgb(28, 46, 46);
    border-right: 5px solid rgb(28, 46, 46);
}

.menu-navigation {
    margin: inherit;
    text-align: center;
}

.menu-navigation .menu-titre {
    text-align: center;
    font-weight: bolder;
    font-size: 180%;
}

nav {
    display: inline-block;
    text-align: left;
}

hr {
    padding: 0px 205px;
}

li {
    margin: 14px 0px;
}

li a {
    font-size: 130%;
}

li a:hover {
    font-size: 140%;
    font-weight: bolder;
}

.article-bloc {
    background-color: rgba(247, 235, 135, 0.8);
    border-radius: 1em;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    border: 4px solid rgba(92, 83, 0, 0.8);
}

article p {
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
}

article h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 170%;
    font-family: 'Courier New', Courier, monospace;
}

aside {
    border-left: 2px solid rgb(19, 17, 117);
    border-right: 2px solid rgb(19, 17, 117);
    border-radius: 32px;
    margin-bottom: 2em;
    margin-left: 30em;
    margin-right: 30em;
    padding: 10px;
    text-align: center;
}

.liens-externe {
    font-style: italic;
    font-size: 20px;
}

.liens-externe:hover {
    font-weight: bolder;
}