/*Peut affecter le fond d'image*/
body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
}


#bloc-fond-image {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

/*Fond d'image, attention à la manipulation*/
#fond-image {
    opacity: 0.5;
    position: absolute;
}


#contenu-principal {
    position: relative;
    text-align: center;
}

/*Fond d'image, ajuste la taille manuellement*/
img {
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 5em;
    margin: 45px 0px 0px;
    padding: 40px 0px;
    font-style: italic;
    background-color: rgba(70, 240, 231, 0.5);
    border-bottom: 2px solid rgb(0, 0, 0);
    border-top: 2px solid rgb(0, 0, 0);
}

#paragraph-intro {
    background-color: rgb(240, 248, 255, 0.8);
    padding: 35px 55px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 2px solid #000000;
    text-align: center;
    margin-top: 0px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 155%;
    line-height: 35px;
}

form {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    background-color: rgb(240, 248, 255, 0.7);
    border-radius: 20px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 14px 10px;
    font-size: 130%;
}

.champ-bloc {
    margin: 20px 140px;
    text-align: justify;
}

.champ-bloc label {
    display: block;
}

.champ-bloc input {
    width: 75%;
    padding-top: 5px;
    padding-bottom: 5px;
}

fieldset {
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
}

.checkbox-bloc {
    text-align: justify;
    margin: 10px 180px;
}

input[type="submit"] {
    margin: 14px 0px;
    font-size: 100%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(233, 224, 224);
    border-radius: 10px;
}

aside a {
    font-size: 120%;
    font-style: italic;
    font-weight: bold;
}

#lien-retour {
    background-color: rgba(247, 235, 135, 0.8);
    margin: 10px 570px;
    padding: 10px;
    border-left: 2px solid rgb(19, 17, 117);
    border-right: 2px solid rgb(19, 17, 117);
    border-radius: 32px;
    text-align: center;
    font-style: italic;
    font-size: 20px;
}

#lien-retour:hover {
    font-weight: bolder;
}